NEXT_PUBLIC_SITE_URL=https://bowling-gamma.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453

NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x804cf9A163d9C5988A4aF338dD630bC9317274c0
NEXT_PUBLIC_BASE_APP_ID=6a01801aef4989446dc30d18

NEXT_PUBLIC_BUILDER_CODE=
NEXT_PUBLIC_BUILDER_CODE_SUFFIX=

NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
